.askPricePage{
	.fill{
		width:690rpx;
		margin: 0 auto;
		padding-top:40rpx;
		.tui-line-left.data-v-017fda1e::after{
			left: 0 !important;
		}
		.model_box{
			height: 100%;
			width:80%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.tui-input{
				width:520rpx !important;
				height: 109rpx !important;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		.tui-line-cell {
			width: 100%;
			height: 109rpx !important;
			padding: 0 !important;
			box-sizing: border-box;
			display: flex;
			align-items: center;
		}
		.tui-title {
			display: flex;
			align-items: center;
			line-height: 32rpx;
			min-width: 120rpx;
			flex-shrink: 0;
			color:$uni-text-color-grey;
			font-size: 30rpx;
		}
		.tui-input {
			font-size: 30rpx;
			color: $uni-text-color-tip;
			padding-left: 30rpx;
			flex: 1;
			overflow: visible;
		}
		.tui-line-left{
			padding: 0 !important;
		}
		.tui-phcolor{
			font-size: 30rpx;
			color:#CCCCCC;
		}
		.tui-tips{
			padding:20rpx 70rpx 78rpx 70rpx;
			text-align: center;
			color:#CCCCCC;
			font-size: 24rpx;
			line-height: 40rpx;
		}
		
	}
	.tui-button-primary{
		width: 690rpx;
		height: 80rpx;
		line-height: 80rpx;
		background: $uni-color-main;		border-radius: 0px 0px 0px 40rpx;
	}

}