.homePage{
	padding-bottom: 200rpx;
	// 自定义导航栏
	.shop_home_navbar{
		.hx-navbar{
			background: transparent;
		}
		.solt_left{
			display: flex;
			align-items: center;
		}
		.input_view{
			display: flex;
			align-items: center;
			position: relative;
			margin-left: 15rpx;
			justify-content: center; // 新写的
		}
		.classify_icon{
			width:42rpx;
			height: 42rpx;
			padding-left: 30rpx;
			padding-top:13px;
		}
		.uni-navbar--border{
			border-bottom: none;
		}
		.home_input{
			width:440rpx;
			height:64rpx;
			background:#E8F0FC;
			border-radius:32rpx;
			padding-left: 90rpx;
			box-sizing: border-box;
		}
		.search_icon{
			width: 25rpx;
			height: 25rpx;
			position: absolute;
			left: 40rpx;
		}
		.place_holder{
			color:$uni-color-main;
			font-size: 24rpx;;
		}
		.uni-navbar__header-btns-left{
			width:110rpx;
		}
	}
	
	// 头部背景图
	.header_img{
		position: absolute;
		top:0;
		height: 390rpx;
		width:100%;
		z-index: -1; // 新写的
	}
	.page_inner{
		width:100%;
		margin:0 auto;
		z-index: 99;
	}
	
	
	
	// 保养、洗车、领券中心、新车列表、异业联盟
	.fun_section{
		position: relative;
		background-color: #F7F7F7;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 42rpx 25rpx 0 25rpx;
		.list{
			width:21%;
			font-size: 0;
			text-align: center;
			margin-bottom: 42rpx;
		}
		.img{
			width:75rpx;
			height: 75rpx;
		}
		.fun_text{
			font-size: 24rpx;
			color:$uni-text-color-grey;
			padding-top:12rpx;
		}
	}

	//  团购优惠、天天特价 
	.group_section{
		background: #fff;
		border-radius:12rpx;
		padding:30rpx 20rpx;
		box-sizing: border-box;
		.top{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 36rpx;
			font-weight: bold;
			color:$uni-text-color-grey;
			font-size: 32rpx;
			.all{
				font-size: 24rpx;
				color:$uni-text-color-memo;
				display: flex;
				align-items: center;
			}
			.text{
				margin-right: 18rpx;
			}
			.icon-xiangyoujiantou{
				margin-top:7rpx;
			}
			.middle{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		.bottom{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.good{
			width:25%;
			text-align: center;
			font-size: 0;
		}
		.img{
			width:145rpx;
			height: 145rpx !important;
			border-radius: 8rpx;
			margin-bottom: 20rpx;;
		}
		.price{
			text-align: center;
		}
		.now{
			font-weight: bold;
			font-size: 30rpx;
			color:$uni-text-color-price;
			margin-right: 10rpx;;
		}
		.org{
			font-weight: bold;
			font-size: 20rpx;
			color:$uni-text-color-memo;
			text-decoration: line-through;
		}
	}

	// 精品推荐
	.quality_section{
		// margin:30rpx 0;
		margin-bottom: 30rpx; 	// 新加的
		background:#fff;
		border-radius:12rpx;
		padding:30rpx;
		box-sizing: border-box;
		padding-bottom: 0;
		.top{
			padding-bottom: 25rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color:$uni-text-color-grey;
			font-size: 32rpx;
			font-weight: bold;
		}
		.all{
			font-size: 24rpx;
			color:$uni-text-color-memo;
			display: flex;
			align-items: center;
		}
		.text{
			margin-right: 18rpx;
		}
		.icon-xiangyoujiantou{
			margin-top:7rpx;
		}
		.middle{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.list{
			width:30%;
			font-size: 0;
		}
		.img{
			width:190rpx;
			height: 190rpx !important;
			border-radius: 8rpx;
			padding-bottom: 20rpx;
		}
		.name{
			width: 100%;
			line-height:36rpx;
			font-size: 26rpx;
			text-overflow: -o-ellipsis-lastline;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		.price{
			padding-top:15rpx;
			font-size: 34rpx;
			color:$uni-text-color-price;
			font-weight: bold;
		}
		.bottom{
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top:34rpx;
			padding-bottom: 30rpx;
			image{
				width:35rpx;
				height: 35rpx;
			}
		}
		.exchange{
			color:$uni-text-color-tip;
			font-size: 26rpx;
			margin-left: 15rpx;
		}
		.exchange_trans{
			transition: all 0.3s linear;
			transform:rotate(720deg);
		}
		.trans_change{
			transition: all 0.3s linear;
			transform:rotate(480deg);
		}
	}

	// 底部其他商品展示
	.other_section{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 220rpx;
		.list{
			width:330rpx;
			margin-bottom: 30rpx;
		}	
		.img{
			width:330rpx;
			height: 340rpx !important;
			border-radius: 15rpx 15rpx 0 0;
		}
		.bottom{
			background:#fff;
			padding:20rpx 24rpx 35rpx 20rpx;
			box-sizing: border-box;
			border-radius: 0 0 15rpx 15rpx;
			margin-top: -8rpx;
		}
		.name{
			font-size: 28rpx;
			color: $uni-text-color-grey;
			line-height: 36rpx;
			text-overflow: -o-ellipsis-lastline;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		.price{
			padding-top:18rpx;
			font-size: 34rpx;
			color:$uni-text-color-price;
			font-weight: bold;
		}
	}
}

//2020-11-30 合并专属服务页样式
.exclusive_service_team{
	padding: 0 33rpx;
	.service_team_title{
		margin: 35rpx 0 40rpx 0;
		font-size: 28rpx;
		padding: 0 0 5rpx 50rpx;
		color: #7E8596;
		background: url('https://img.hangzhouhuiyao.cn/images/hyApplets_002/shopHome/title-bg.png') center center no-repeat;
		background-size: 100%;
		text{
			font-weight: bold;
			font-size: 36rpx;
			color: #141E34;
			margin-right: 16rpx;
		}
	}
	.service_team_main{
		background-color: #FFFFFF;
		border: 1px solid #000000;
		position: relative;
		.service_team_main_menu{
			position: absolute;
			width: 100%;
			display: flex; 
			align-items: flex-end;
			white-space: nowrap; 
			color: #7E8596;
			text{
				font-size: 30rpx;
			}
			.active{
				color: #141E34;
				background-color: #ffffff;
			}
			view{
				color: #7E8596;
				background-color: #ffffff;
				width: 25%;
				height: 90rpx;
				display: inline-block;
				line-height: 87rpx;
				text-align: center;
			}
		}
		.service_team_data{
			padding-top: 80rpx;
			padding-bottom: 20rpx;
			.service_people{
				margin: 0 22rpx;
				height: 150rpx;
				padding: 0 27rpx;
				margin-bottom: 10rpx;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background: url('https://img.hangzhouhuiyao.cn/images/hyApplets_002/shopHome/peoplebg.png') center center no-repeat;
				background-size: 100%;
				.bg{
					width: 110rpx;
					max-height: 110rpx;
					border-radius: 50%;
				}
				.phone{
					width: 60rpx;
					height: 60rpx; 
				}
				.service_people_text{
					width: 50%;
					color: #FFFFFF;
					display: flex;
					flex-wrap: wrap;
					text:first-child{
						width: 100%;
						font-size: 24rpx;
						text{
							font-size: 42rpx;
							font-weight: bold;
							margin-right: 20rpx;
						}
					}
					text:last-child{
						width: 100%;
						font-size: 28rpx;
					}
				}
			}
			.service_people:last-child{
				margin-bottom: 0;
			}
		}
	}
	.exclusive_top{
		height:100rpx;
		background:rgba(245,246,248,1);
		border-radius:20rpx;
		color:rgba(20,30,52,1);
		font-size: 28rpx;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.exclusive_list{
		padding-top:30rpx;
		.list{
			height: 300rpx;
			width:100%;
			margin-bottom: 30rpx;
			padding:65rpx 30rpx;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			position: relative;
			background: url('https://img.hangzhouhuiyao.cn/images/hycar/exclusive/exclusive_back.png') center center no-repeat;
			background-size: 100% 100%;
		}
	}
	.list_special{
		position: absolute;
		top:0rpx;
		right:15rpx;
		color:#171723;
		width: 80rpx;
		height: 60rpx;
		display: flex;
		justify-content: center;
		padding-top:7rpx;
		background: url('https://img.hangzhouhuiyao.cn/images/hycar/exclusive/list_special.png') center center no-repeat;
		background-size: 100% 100%;
		font-size: 24rpx;
	}
	.list_left{
		width:170rpx;
		height:170rpx;
		border-radius:50%;
		overflow: hidden;
		.img{
			width:100%;
			height: 100%;
		}
	}
	.list_info{
		margin-left: 40rpx;
		.info_top{
			display: flex;
			align-items: center;
			.info_icon{
				width:28rpx;
				height: 28rpx;
				image{
					width:100%;
					height: 100%;
				}
			}
		}
		.info_name{
			color:#FAFFFF;
			margin: 0 15rpx;
			font-weight: bold;
			font-size: 42rpx;
		}
		.info_user{
			font-size: 24rpx;
			color:#F3FAFF;
			margin-top: 8rpx;
		}
		.info_phone{
			display: flex;
			align-items: center;
			padding-top:25rpx;
		}
		.icon-dianhua{
			color: #DACABB;
			font-size: 26rpx;
			margin-right: 25rpx;
		}
		.phone_num{
			color:#DACABB;
			font-size: 32rpx;
		}
	}
}

//首页卡片
.active_box{
	width: 100%;
	height: 170rpx;
	background: url('https://img.hangzhouhuiyao.cn/images/hyApplets_002/shopHome/active-box-bg.png') center center no-repeat;
	// background-color: #000000;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.active_box_left{
		width: 64%;
		height: 100%;
		font-size: 24rpx;
		color: #FFFFFF;
		text-align: center;
		letter-spacing: 2rpx;
		.title{
			font-size: 36rpx !important;
			color: #FFFFFF;
			margin-bottom: 10rpx;
			margin-top: 30rpx;
			text-align: center;
		}
		.title_text{
			display: flex;
			align-items: center;
			justify-content: center;
			.position_icon{
				width: 20rpx;
				height: 26rpx;
				margin-right: 10rpx;
			}
		}
		
	}
	.active_box_right{
		width: 36%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		color: #FFFFFF;
		letter-spacing: 2rpx;
		.phone{
			width: 62rpx;
			height: 62rpx;
			margin-top: 20rpx;
		}
		.title_text{
			width: 100%;
			height: 62rpx;
			font-size: 26rpx;
			text-align: center;
		}
	}
}