.insurance_form{
	
	.form{
		margin: 30rpx;
	}
	.tui-button-primary{
		width:690rpx;
		margin: 0 auto;
		background: $uni-color-main;
		margin-top:30rpx;
	}
	.section{
		border-radius: 20rpx;
		background: #fff;
	}
	.tui-list-cell{
		margin:0 30rpx;
		width:690rpx !important;
		border-radius: 20rpx;
		padding:0 !important;
		background: transparent !important;
	}
	.tui-line-cell{
		display: flex;
		border-bottom: 1px solid #E5E5E5;
		height: 100rpx;
		align-items: center;
		font-size: 30rpx;
		padding:0 30rpx;
		box-sizing: border-box;
		color:$uni-text-color-grey;
		&.date{
			border-bottom: 0;
		}
		.value{
			margin-left: 90rpx;
			color:$uni-text-color-tip;
			&.creditCode{
				margin-left: 18rpx;
			}
		}
		.special_input{
			margin-left: 38rpx;
			color:$uni-text-color-tip;
		}
		.special_engine{
			margin-left: 60rpx;
			color:$uni-text-color-tip;
		}
		.place_holder,.tui-phcolor{
			color:#ccc;
		}
		.date_cell{
			width: 78%;
			height: 100%;
			line-height: 100rpx;
			position: relative;
			.iconfont{
				position: absolute;
				right: 0;
				top:7rpx;
			}
		}
		
	}
	.space_box{
		height: 30rpx;
		background: #F7F7F7;
		width: 690rpx;
	}
	.top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:30rpx 30rpx 0;
		box-sizing: border-box;
		.left{
			font-size: 32rpx;
			color:$uni-text-color-grey;
			display: flex;
			align-items: center;
		}
		.line{
			width: 8rpx;
			height: 30rpx;
			background: linear-gradient(0deg, #3975E9, #69ACFF);
			border-radius: 5rpx;
			margin-right: 10rpx;
		}
		.right{
			font-size: 30rpx;
			color:$uni-text-color;
			display: flex;
			align-items: center;
			.iconfont{
				margin-left: 25rpx;
				color:$uni-text-color;
			}
		}
	}
}