.couponDetailsPage{
	overflow: hidden;
	.inner{
		width:690rpx;
		margin: auto;
	}
	.car {
		.list{
			margin:0 auto;
		}
	}
	.detail_section{
		padding-bottom: 200rpx;
		.title{
			display: flex;
			align-items: center;
			color:rgba(20, 30, 52, 1);
			font-size:36rpx;
			font-weight: bold;
			padding:50rpx 0 10rpx 0;
		}
		.line{
			width:8rpx;
			height: 32rpx;
			background:linear-gradient(rgba(109, 171, 253, 1),rgba(76, 137, 239, 1),rgba(65, 122, 233, 1));
			opacity:0.9;
			display: inline-block;
			margin-right: 10rpx;
		}
		.detail_title{
			color:rgba(20,30,52,1);
			font-size: 30rpx;
			line-height: 38rpx;
			margin: 15rpx 0 10rpx 0;
			margin-left: -12rpx;
			.bold{
				color:red;
				font-weight: bold;
				margin:0 5rpx;
				font-size: 28rpx;
			}
		}
		.explain{
			color:rgba(126,133,150,1);
			font-size: 28rpx;
			line-height: 40rpx;
		}
		.detail_item{
			image{
				width:20rpx;
				height: 20rpx;
				margin-right: 8rpx;
			}
			color:$uni-color-main;
			font-size: 28rpx;
			line-height: 40rpx;
		}
		.qrcode{
			margin:30rpx 0 30rpx;
			z-index: 0;
		}
	}

	.coupon_footer{
		position: fixed;
		bottom: 0;
		width:100%;
		color:#fff;
		font-size: 36rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80rpx;
		z-index: 999999999999;
		background: linear-gradient(0deg, #EB6152 0%, #F5D283 100%);
		&.special_footer{
			background: linear-gradient(0deg, #5E71FF 0%, #ACDBFF 100%);
		}
	}
}